
/* NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

nav a {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: #fff;
}

nav a:hover {
  background-color: #e9ecef;
}



/* HOME PAGE */

.hero {
  /* background-image: url('hotel-image.jpg'); */
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.description {
  font-size: 1.5rem;
}

.room-section {
  background-color: #f5f5f5;
  padding: 2rem;
}

.room-section-title {
  font-size: 2rem;
  margin-top: 0;
}

.room-section-description {
  font-size: 1.2rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
}


/* CONTACT US */
.contactform {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin: 0 auto;
  margin-top: 30px;  
}

.contactdetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0062cc;
}


/* PAYMENT PAGE */
.paymentform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 30px;
}


/* PROFILE */
.profilepage {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  border: 2px solid #ccc;
}

.profilepage h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.profilepage h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.profilepage label {
  font-weight: bold;
  margin-right: 10px;
}

.profilepage span {
  display: inline-block;
  margin-bottom: 10px;
}

.profilepage button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profilepage button:hover {
  background-color: #005fa3;
}

.profilepage ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profilepage li {
  margin-bottom: 20px;
}

.profilepage li div {
  margin-bottom: 10px;
}

.profilepage li label {
  width: 150px;
  display: inline-block;
  font-weight: bold;
}

.profilepage li span {
  display: inline-block;
}


/* IMG */
img{
  width: 400px;
}

/* VIEW ROOM */
.room-list {
  text-align: left;
  margin-left: 50px;
  margin-top: 20px;
}


.view-room {
  margin-bottom: 30px;
}


/* FILTER  */
.filter {
  margin-top: 30px;
  margin-left: 50px;
}



